// Mixins Here

.custom-btn (@fontcolor, @bgcolor) {
    color: @fontcolor;
    background: @bgcolor;
    width: 100px;
    height: 30px;
    text-align: center;
    border-radius: 5px;
    font-size: 1.8rem;
    padding: 5px;
}